{% extends 'base.html.twig' %}

{% block title %}Genre index{% endblock %}

{% block body %}
    <section class="genres py-10">
        <div class="container mx-auto">
            <div class="flex flex-wrap w-full mb-8">
                <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
                    <h2 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">Browse by Genre</h2>
                    <div class="h-1 w-20 bg-blue-500 rounded"></div>
                </div>
            </div>
            {#                <h2 class="text-3xl font-medium text-gray-900 mb-8">Browse by Genre</h2>#}
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8">
                {% for genre in genres %}
                    <div class="genre p-4 border rounded-md shadow-md hover:shadow-lg bg-gray-100">
                        <h3 class="text-lg font-medium text-gray-800 mb-2">{{ genre.title }}</h3>
                        <p class="text-gray-600">{{ genre.description|slice(0,100) }}...</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
